[submodule "third_party_ws/src/FAST_LIO"]
	path = third_party_ws/src/FAST_LIO
	url = https://github.com/hku-mars/FAST_LIO.git
	branch = ROS2
[submodule "third_party_ws/src/LIO-SAM"]
	path = third_party_ws/src/LIO-SAM
	url = https://github.com/TixiaoShan/LIO-SAM.git
	branch = ros2
[submodule "third_party_ws/src/imu_utils_ros2_humble"]
	path = third_party_ws/src/imu_utils_ros2_humble
	url = https://github.com/HYD-PG/imu_utils_ros2_humble.git
	branch = main
[submodule "third_party_ws/src/lidar_imu_calib"]
	path = third_party_ws/src/lidar_imu_calib
	url = https://github.com/KnightSnape/lidar_imu_calib.git
	branch = main
	ignore = dirty
[submodule "third_party_ws/src/livox_ros_driver2"]
	path = third_party_ws/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2.git
	branch = master
	ignore = dirty
[submodule "third_party_ws/src/ndt_omp_ros2"]
	path = third_party_ws/src/ndt_omp_ros2
	url = https://github.com/rsasaki0109/ndt_omp_ros2.git
	branch = humble
	ignore = dirty
